* {
  padding: 0;
  margin: 0;
}

.topnav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: initial;
  padding-bottom: 0px;
}

.topnav a {
  padding: 0px 10px;
}

.nav-right {
  padding-bottom: 10px;
}

img#logo-image {
  width: 100px;
  padding-bottom: 20px;
}

.filter-movie {
  max-width: 500px;
  height: 30px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  position: relative;
  background-color: white;
}

.filter-movie input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
}

.filter-movie .searchicon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  color: #2c333d;
}

.output {
  display: block;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.4);
}

.moviearr-items {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: hidden;
}

.moviearr-item {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s;
}

.moviearr-item:last-child() {
  border-bottom: none;
  color: #fff;
  cursor: pointer;
}

.moviearr-item:hover {
  background: #2c333d;
  color: #fff;
  cursor: pointer;
}

.no-item {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-left: 5px solid red;
  background-color: pink;
  color: red;
  text-align: center;
}

@media screen and (min-width: 280px) and (max-width: 764px) {
  .topnav :is(a:not(:first-child), i:not(:first-child)) {
    display: none;
  }
  .nav-right {
    float: left;
    padding-top: 0px;
  }
  .nav-right i {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav a {
    padding: 10px;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive :is(.fa-user, .border-style, .fa-search) {
    display: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav {
    display: flex;
    flex-direction: row;
  }

  .topnav.responsive :is(.fa-user, .border-style, .filter-movie) {
    display: none;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a.icon {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
  }
}

@media screen and (min-width: 765px) and (max-width: 1024px) {
  .topnav :is(a:not(:first-child), i:not(:first-child)) {
    display: none;
  }
  .nav-right {
    float: left;
    padding-top: 0px;
  }
  .nav-right i {
    display: none;
  }

  .topnav a {
    padding: 10px;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin-left: 180px;
  }

  .topnav.responsive {
    position: relative;
  }
  
  .topnav.responsive :is(.fa-user, .border-style, .fa-search) {
    display: none;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav {
    display: flex;
    flex-direction: row;
    justify-content: left;
  }

  .fa-bars {
    justify-content: flex-end;
    margin-left: 170px;
  }

  .filter-movie {
    width:250px;
  }

  .topnav.responsive :is(.fa-user, .border-style, .filter-movie) {
    display: none;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .topnav a.icon {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    float: right;
  }
}
